html,
body {
    height: 100%;
    color: black;
    font-family: "Gill Sans Extrabold", sans-serif;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: brown;
}

a {
    color: blueviolet;
    width: 500;
    text-decoration: none;
}